@media screen and (min-width:750px) {

    main {
        grid-template-columns: 1fr;
        justify-items: center;
        /* min-width: 60em; */
        margin: 1em auto;
        width: 100%;
    }

    section{
        /* width: 90%; */
        /* max-width: none; */
    }

}