:root {

    --primary-color: rgb(213, 72, 72);
    --secondary-color: rgb(60, 142, 60);

}

* {}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

header {

    min-height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#temperature::after,
#wind-chill::after {
    content: " °C";
}

#wind::after {
    content: " km/h";
}

h1,
h2,
h3 {
    font-family: "Roboto", Arial, Helvetica;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

section {
    display: grid;

    padding: 0;
    margin: 1em;

}

.section-container {
    display: grid;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section ul {
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding: 0;
    margin-top: 1em;
}

section li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;


}

.h2-container img {
    margin: 0;
}

.h2-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
}

.weather {
    border-top: 1px solid black;

}

picture {
    display: block;
    max-height: 70vh;
    background-color: var(--secondary-color);
    padding-top: 0.5em;

}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weather img {
    width: 20%;
    margin: 0 auto 1em auto;
}

.label {
    text-align: right;
}

.value {
    margin-left: 1em;
}


footer {
    text-align: center;
    padding: 1em;
}

footer p {
    margin: 0.3em;
}